{% extends "templates/0__base.twig" %}
{% block title %}
	{{- parent() -}}
    Welcome
{% endblock %}
{% block head %}
	{{- parent() -}}
    <link rel="stylesheet" type="text/css" href="/style/user/Loginsuccessfulstyle.css">
{% endblock %}
{% block body %}
	{{- parent() -}}
        <div class="loginSuccessful">
            Login Successful !
        </div>
        <div id="welcome">
        </div>
        <form class="next" action="/goToUserPortal" method="POST" >
            <input type="submit" class="nextButton" value="Next">
        </form>
{% endblock %}
{% block bottom %}
	{{- parent() -}}
    <script>
        data_one = "{{ username }}" ;
    </script>
    <script src="script/user/Loginsuccessfulscript.js"></script>
{% endblock %}