{% extends "templates/0__base.twig" %}
{% block title %}
	{{- parent() -}}
    Add Books
{% endblock %}
{% block head %}
	{{- parent() -}}
    <link rel="stylesheet" type="text/css" href="/style/admin/Addbooksstyle.css">
{% endblock %}
{% block body %}
	{{- parent() -}}
    <div class="headPage" id="addBooks">
        Add Books
    </div>
    <div class="addPortal">
        <form class="bookForm" action="/addBooks" method="POST">
            <input type="text" class="username" name="username" value="" style="display:none">
            <input type="text" class="tempPassword" name="temppassword" value="" style="display:none">
            <input type="text" placeholder="Book Title" id="bookTitle" name="booktitle">
            <input type="text" placeholder="Quantity" id="quantity" name="quantity">
            <input type="submit" class="addButton" value="Add"/>
        </form>
    </div>
    <div class="resultBar">
        {{ data }}
    </div>
    <form class="back" action="/goToAdminPortal" method="POST" >
        <input type="text" id="username" name="username" value="" style="display:none">
        <input type="text" id="tempPassword" name="temppassword" value="" style="display:none">
        <input type="submit" class="backButton" value="Back">
    </form>
{% endblock %}
{% block bottom %}
	{{- parent() -}}
    <script src="/script/admin/Addbooksscript.js"></script>
{% endblock %}