{% extends "templates/0__base.twig" %}
{% block title %}
	{{- parent() -}}
    Give Books
{% endblock %}
{% block head %}
	{{- parent() -}}
    <link rel="stylesheet" type="text/css" href="/style/admin/Givebooksstyle.css">
{% endblock %}
{% block body %}
	{{- parent() -}}
        <div id="tableDiv">
            <table id="requestsTable">
            </table>
        </div>
        <form class="back" action="/goToAdminPortal" method="POST" >
            <input type="text" id="username" name="username" value="" style="display:none">
            <input type="text" id="tempPassword" name="temppassword" value="" style="display:none">
            <input type="submit" class="backButton" value="Back">
        </form>
{% endblock %}
{% block bottom %}
	{{- parent() -}}
    <script>
        data_one = {{ givablebooks|json_encode|raw }};
    </script>
    <script src="script/admin/Givebooksscript.js"></script>
{% endblock %}