{% extends "templates/1a__adminbase.twig" %}
{% block title %}
	{{- parent() -}}
    Welcome
{% endblock %}
{% block head %}
	{{- parent() -}}
    <link rel="stylesheet" type="text/css" href="/style/admin/Loginsuccessfulstyle.css">
{% endblock %}
{% block body %}
	{{- parent() -}}
        <div class="loginSuccessful">
            Login Successful !
        </div>
        <div id="welcome">
        </div>
        <form class="next" action="/goToadminPortal" method="POST" >
            <input type="text" id="username" name="username" value="" style="display:none">
            <input type="text" id="tempPassword" name="temppassword" value="" style="display:none">
            <input type="submit" class="nextButton" value="Next">
        </form>
{% endblock %}
{% block bottom %}
	{{- parent() -}}
    <script>
        const use = "{{ username }}" ;
        const ran = "{{ tempPassword }}" ;
    </script>
    <script src="script/admin/Loginsuccessfulscript.js"></script>
{% endblock %}